* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #2f80ff, #3ccbff);
}

button {
  width: 50px;
  font-size: 20px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  height: 50px;
  display: block;
}
td {
  padding: 10px 5px;
}
table {
  padding: 10px 10px;
}
#result {
  width: 92%;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 0.5px solid gray;
  outline: none;
}
.container {
  border: 0.5px solid black;
  background-color: white;
  border-radius: 10px;
}
.lastcol {
  background-color: #ffab10de;
}
.firstrow {
  background-color: rgb(190 189 189 / 60%);
  color: black;
}
#colspan {
  width: 98%;
  height: 51px;
  border-radius: 30px;
}
